<!--<h1><b>ABOUT ME</b></h1>-->
<!--<h3>Below are just some things about me, some hobbies, interests, yada, yada- nothing too interesting</h3> -->

<div class="pure-u-1" style="margin-bottom:1em;">
  <h5>Thanks for checking out my site!</h5> I built this to learn some web programming. It's pretty basic but hopefully it's a stepping stone for building better sites that go beyond just talking about myself :)
</div>
  
<div class="pure-g">
  <div class="pure-u-13-24 about" id="interests">

    <!--<video style="display:block; margin: 3em auto;" controls>-->
      <video id="wofvideo" style="display:block;width:100%;" controls>

	        <source src="/media/wof.mp4" type="video/mp4">
	        <source src="/media/wof.ogg" type="video/ogg">
      </video>
      Check out mini me on Wheel of Fortune!
  </div> <!-- interests -->
  
  <!-- some space -->
  <div class="pure-u-1-24"></div>
  
  <!-- right pane -->
  <div class="pure-u-9-24">
    <img src="/images/about/mofi_about.jpg" alt="image" style="width:92%;height:auto;">
  </div>
</div>

<div class ="about pure-u-1">
<br>
</div>
