<!--<h1><b>CHECK THESE OUT!</b></h1><br>-->
<div class="pure-g articles">
<div class="pure-u-1-2">
<ul><h2>Interesting Articles</h2>
	<li><h4>Coming Soon!</h4></li>
</ul>
</div>
<div class="pure-u-1-2">
<ul><h2>Subscribe to these!</h2>
    <li><a href="http://techcrunch.com"><h4>TechCrunch<h4></a></li>
	<li><a href="http://jedec.com"><h4>JEDEC</h4></a></li>
	<li><a href="http://paper.li/avatarTaher/1403983294"><h4>Interesting Environmental Issues</h4></a></li>
</ul>
</div>
</div>
<div class="pure-g articles">
<div class="pure-u-1-2">
<ul><h2>Awesome NGOs</h2>
	<li><a href="http://bestbuddies-ucirvine.webs.com/"><h4>Best Buddies at UCI</h4></a></li>
	<li><a href="http://www.tcf.org.pk/"><h4>The Citizens Foundation</h4></a></li>
	<li><a href="http://online.wsj.com/news/articles/SB10001424127887323372504578466992305986654"><h4>A new take on philanthropy!</h4></a></li>
</ul>
</div>
<div class="pure-u-1-2">
<ul><h2>Funnies!</h2>
	<li><a href="http://dailyshow.com"><h4>The Daily Show</h4></a></li>
    <li><a href="https://www.youtube.com/watch?v=BJlV49RDlLE>Funniest Man Alive: Louis CK!"><h4>Louis CK</h4></a></li>
	<li><a href="https://www.youtube.com/watch?v=sRrvPpZtqIU"><h4>Old School!</h4></a></li>
</ul>
</div>
</div>
<!--
<ul><h2><u>Cool Programs</u></h2>
	<li><a href="http://www.us.emb-japan.go.jp/JET/index.html"><h4>JET</h4></a></li>	
</ul> 
-->

