<h1><b>Comments?</b></h1><br>
<h2>Thanks for checking out my site! I built this just to learn some basic web programming. (much love to Eug, and google for the help) It's pretty basic but hopefully it's a stepping stone for building better sites that go beyond "Mo" :)</h2>
<h2>Any suggestions about the site would be appreciated. Is it any good? Is the format alright? Are the color schemes awful? Leave me a comment- good or bad- and anonymous if you desire :) Thanks!</h2>
<!-- begin htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(""+window.location).replace(/'/g,"%27") || hcb_user.PAGE, h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24UqyUeu0bXrubYPzDU9lkT%2F"+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end htmlcommentbox.com -->