<!--<h1><b>WELCOME TO MY SITE!</b></h1>-->
<div id="home" class="pure-g">

  <div class="pure-u-2-5">
  </div>

  <div class="pure-u-3-5" id="right-cover">
    <h1>Hi, I'm Mo. Welcome to my site!</h1> 
  </div>

</div>
