<h1><b>PROJECTS</b></h1>
<div class="project" id="ezlock-project">
<h2><u>EzLock Wireless Door Opener</u></h2> 
<h3><i>Winter 2014</i></h3>
<b>Main Components: Raspberry Pi, H-bridge circuit, web server, Android app</b><br>
<ul class="bxslider">
  <li>
	<img src="/images/senior_design/senior_design_2.jpg">
  </li>
  <li>
	<img src="/images/senior_design/senior_design_1.jpg" >
  </li>
</ul>
</div>

<div class="project" id="thermalchamber-project">
<h2><u>Thermal Chamber</u></h2>
<h3>Summer 2012</h3>
<b>Main Components: Omega DAQ unit, fan controller, temperature controller, DC-DC converter</b>
<!--Description: Used to test All in One Desktop's performance, throttling, fans at certain temperatures-->
<ul class="bxslider">
    <li>
      <img src="/images/thermal_chamber/main.jpg">
    </li>
    <li>
      <img src="/images/thermal_chamber/main2.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/side_main.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/back.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/in1.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/in2.jpg">
    </li>
  </ul>
</div>

<!--
<div class="project" id="bluetooth-project">
<h2><u>Bluetooth Oscilloscope</u></h2>
<h3>Winter 2012</h3>
<b>Main Components: PIC microcontroller, LMX9838 bluetooth module</b>
	<img src="/images/bluetooth_oscope.jpg" width= "550" height= "450" >
</div>
-->
<!--
<div class="pure-u-1">
	<br>
	<br>
</div/
-->
