<div class="project" id="thermalchamber-project">
<h2>Thermal Chamber</h2>
<h4>Main Components:</h4>Omega DAQ unit, fan controller, temperature controller, DC-DC converter
<!--Description: Used to test All in One Desktop's performance, throttling, fans at certain temperatures-->
<ul class="bxslider">
    <li>
      <img src="/images/thermal_chamber/main.jpg">
    </li>
    <li>
      <img src="/images/thermal_chamber/main2.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/side_main.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/back.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/in1.jpg">
    </li>
	<li>
      <img src="/images/thermal_chamber/in2.jpg">
    </li>
  </ul>
</div>
