<div class="project" id="bluetooth-project">
<h2>Bluetooth Oscilloscope</h2>
<h4>Main Components:</h4>PIC microcontroller, LMX9838 bluetooth module
	<img src="/images/bluetooth_oscope.jpg" style="display:block;margin-top:5%; margin-left:auto; margin-right:auto; width:55%;height:auto;" >
</div>

<!--
<div class="pure-u-1">
	<br>
	<br>
</div/
-->
