<!--<h1><b>PROJECTS</b></h1>-->
<div class="project" id="ezlock-project">
<h2>EzLock Wireless Door Opener</h2> 
<h4>Main Components:</h4>Raspberry Pi, H-bridge circuit, web server, Android app
<ul class="bxslider">
  <li>
	<img src="/images/senior_design/senior_design_2.jpg">
  </li>
  <li>
	<img src="/images/senior_design/senior_design_1_resize.jpg" >
  </li>
</ul>
</div>
