<div class="work">
<h2>Broadcom</h2>
		<h3><u>QA Engineer Intern</u>, 2012-2013</h3>
<div class="pure-g">
	<div class="pure-u-3-5">
		<h5><i>Responsibilities</i>:</h5>
			<ul>
				<li>Analyze failing modes of integrated circuits to determine next step actions and ultimately cause and solutions.</li>
				<li>Knowledge of 8D quality process and FA techniques like ATE, curve tracing, CSAM, X-RAY, decapsulation.</li>
				<li>Communicated with customers and cross departmental teams daily with regards to next steps.</li>

			</ul>
	</div>
	
	<div class="pure-u-2-5">
		<img src="/images/experience/BroadcomLogo.jpg" style="display:block;margin:auto auto; width:95%;height:auto;"  alt="BroadcomLogo">
	</div>
</div>