<!--<h1><b>EXPERIENCE</b></h1> -->
<div class="work">
  <ul class="bxslider">
    <li>
      <img src="http://www.brightsideofnews.com/wp-content/uploads/2014/04/IntelLogo.jpg" title="ASIC Design Engineer">
    </li>
    <li>
      <img src="/images/experience/BroadcomLogo.jpg" title="QA Engineer Intern">
    </li>
	<li>
      <img src="http://kinsellaconsultants.com/wp-content/uploads/2011/05/hp-logo.jpg" title="Electrical Engineering Summer Intern">
    </li>
	<li>
      <img src="/images/experience/calplug.jpg" title="Testing Team Lead">
    </li>
	<li>
      <img src="/images/experience/shocktoberfest.jpg" title="Audio/Lighting Tech">
    </li>
  </ul>
</div>