<div class="work">
<h2>Hewlett-Packard</h2>
<h3><u>Electrical Engineer Summer Intern</u>, Summer 2012</h3>
<div class="pure-g">
	<div class="pure-u-3-5">
		<h5><i>Responsibilities</i>:</h5>
			<ul>
				<li>Created a program that enables quick sharing of disk drives through batch files and VB scripts.</li>
				<li>Built a complete thermal chamber with temperature control capabilities using controllers and data acquisition unit.</li>
				<li>Knowledge of computer architecture, hardware and motherboard design.</li>
			</ul>
	</div>
	
	<div class="pure-u-2-5">
		<img src="http://kinsellaconsultants.com/wp-content/uploads/2011/05/hp-logo.jpg" style="display:block;margin:auto auto; width:95%;height:auto;"  alt="HpLogo">
	</div>
</div>