<div class="work">
<h2>Intel</h2>
		<h3><u>ASIC Design Engineer</u>, 2013-Present</h3>
<div class="pure-g">
	<div class="pure-u-3-5">
		<h5><i>Responsibilities</i>:</h5>
			<ul>
				<li>FPGA development of server processor</li>
				<li>Designed FIFOs, interrupt counters, FSMs, and other RTL through System Verilog</li>
				<li>Reduced simulation time of entire project by over 10% through clock gating and other techniques</li>  
				<li>Automated tool/flow methodologies through extensive Perl scripting</li> 
				<li>Knowledge of design flow from RTL to synthesis to back end/physical design</li>
			</ul>
	</div>
	
	<div class="pure-u-2-5">
		<img src="http://www.brightsideofnews.com/wp-content/uploads/2014/04/IntelLogo.jpg" style="display:block;margin:auto auto; width:90%;height:auto;"  alt="IntelLogo">
	</div>
</div>