footer img.small-logo{
  width: 32px;
  height:auto;
}

footer a{
  text-decoration:none;
}

footer{
  /*height: 100px;*/
  padding:0;
  padding-top:0.4em;
  background:white;
  border-top:1px solid navy;
  bottom: 0;
  position: fixed;
}



