html{
  font-size:110%;
  height:100%;
}

body{
  height:100%;
}

#container{
  min-height:100%;
}

#container.home{
  background: url('/images/mo_sf_resize.jpeg');
  background-size:cover;
}

#container.other{
  background:#f0f9ff;  
}
 

#navigation{
  background:black;
  color:white;
  font-weight:800;
  padding:0.2em 0;
  text-align:center;
}

#navigation a{
	color:rgb(168, 166, 163);
}

#navigation li {
  margin:0 1em;
  text-align:left;
}


#navigation ul a{
  border-radius:5px;
}

#navigation ul a .nav2{
  color:black;
}

#navigation h2{
  color:rgb(19, 116, 162);
  margin:0.25em 0;
}

/*home.html*/ 


#home h1 {
	text-align: center;
	/*font-family: bree-serif, serif;*/
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: black;
	margin-left:10%;
	margin-right:10%;
	padding-top:10%;
	opacity:0.8;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	/*font-size:7em;*/
	font-size: 500%;
}

#home #right-cover{
	height:100%;
	position:fixed;
	background-image: -webkit-linear-gradient(38deg, #524CDA, #4cd2da 50%, #5adae2 50%, #4CADDA 100%);
	background-size: cover;
}


#container.other #content{
  padding-top:1em;
  width:80%;
  margin:0 auto;
}

#content h1 {
	text-align: center;
	margin-top:0;
}

#content h2{
  display:inline-block;
	margin-bottom: 0;
	margin-top:0;
	/*background-color: rgba(0,0,0,0.75);*/
	background-color: black;
	color:white;
	opacity:0.8;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
	padding: 10px;
	/*position: absolute;*/
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	font-size:2em;
}
/*
#content h3{ 
    margin-left: 10%; 
	margin-right: 10%; 
	margin-bottom: 0;
	margin-top:0.5em;
	background-color: lightblue;
	color: red;
	opacity:0.8;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
	padding: 10px;
	top: 100px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px; 
	font-size:2em;
}
*/

/*work.html*/
div.work li{
	font-size:100%;
	margin-bottom:2%;
}

/* Projects.html*/
div.project{
	margin-bottom:5em;
}

div.project h2{

  margin-top:0;
  margin-bottom:0.5em;
  text-shadow: 0px 1px 1px #4d4d4d;
  font: 3em 'LeagueGothicRegular';
}

div.project h4{
  margin-bottom:0;
}

/*
div.project h3{
  margin-top:0;
  margin-bottom:0.5em;
  font-style: italic;
  text-align:center;
  color:blue;
  font-size: 2.5em; 
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
*/

div.articles{
	text-align:center;
}

div.articles ul{
  list-style-type: none;
}

div.articles h2{
  margin-top:0;
  margin-bottom:0.5em;
  margin-left: 10%;
  margin-right: 10%;
  text-align:center;
  text-shadow: 0px 1px 1px #4d4d4d;
  font: 3em 'LeagueGothicRegular';

}

#content h5{
  margin:0;
  font-size:1.4em;
}


/*about.html*/
div.about h2{
  text-align:center;
  margin:0;
}



div.about h4 {

  margin-top:0;
  margin-bottom:0.5em;
  text-align:center;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #fff;
  font: 3em 'LeagueGothicRegular';

  
}
/*footer*/
footer {
  padding-top:0.4em;
  background:black;
  position:fixed;
  bottom:0;
  height:auto;
}

footer img.small-logo{
  width: 32px;
  height:auto;
}

footer audio#musicplayer{
	float:right;
	margin-right:1.5em;
}


footer a{
  text-decoration:none;
  margin: 0 1px;
}

.bxslider{
	margin: 0; 
	padding: 0;	
}
